
@{
    ViewData["Title"] = "InterestingLinks";
}


<h2>Ciekawe linki</h2>
<!--Wyświetlenie listy linków-->
<ul>
    <li><a href="https://google.com" target="_blank">Google</a></li>
    <li><a href="https://stackoverflow.com/" target="_blank">Stack Overflow</a></li>
    <li><a href="https://www.youtube.com/" target="_blank">Youtube</a></li>
    <li><a href="https://www.facebook.com/" target="_blank">Facebook</a></li>
</ul>
